.footer {
  display: flex;
  justify-content: space-between;
  background: #7e9181;
  padding: 40px 60px;
  gap: 30px;
  height: 120px;
}

.leftLink {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  color: #fefae0;
  font-size: 24px;
  text-decoration: none;
  padding-bottom: 4px;
}

.rightLink {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.socials {
  margin-top: 30px;
  display: flex;
  gap: 25px;
}

.socialIcon {
  width: 40px;
  height: 40px;
}
