/* src/components/AdvantageItem/AdvantageItem.module.css */

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  max-width: 120px;
  text-align: center;
}

.icon {
  width: 40px; /* Встановлюємо фіксовану ширину */
  height: 40px; /* і висоту для іконок */
  object-fit: contain; /* Гарантує, що зображення впишеться без спотворень */
}

.text {
  font-size: 14px;
  color: #555;
  margin: 0;
}
