.timelineContainer {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  min-height: 80px;
}

.time {
  width: 60px;
  text-align: right;
  font-size: 18px;
  font-weight: 500;
  margin-right: 15px;
  padding-top: 0;
  line-height: 1;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
  position: relative;
  width: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
  z-index: 2;
  flex-shrink: 0;
}

.line {
  background-color: #000;
  position: absolute;
  width: 2px;
  top: 12px;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: -4px;
}

.city {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.address {
  font-size: 12px;
}

.secondItem {
  min-height: auto;
}
