.container {
  position: relative;
  margin-top: 25px;
  margin-bottom: 25px;
}

.starIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  transform: translate(-15%, -36%);
}

.card {
  background-color: white;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 15px 20px 15px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.route {
  font-weight: bold;
  font-size: 20px;
  margin: 0;
  border-bottom: 1px solid #000;
  display: inline-block;
  padding-bottom: 2px;
}

.frequency {
  margin: 4px 0 0;
}
