.slogan {
  background-image: url("../../assets/slogan/slogan.png");
  background-size: cover;
  background-position: center;
  min-height: 400px;
  display: flex;
  justify-content: center;
  padding-top: 260px;
  box-sizing: border-box;
}

.textContainer {
  text-align: center;
}

.title {
  color: #fefae0;
  font-size: 48px;
  font-weight: 400;
  margin: 0;
}

.subtitle {
  color: #fefae0;
  font-size: 64px;
  margin: 0;
  line-height: 1;
}
